body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fefefe;
}
table {
    background-color:#f6a3a3;
    border-collapse: collapse;
    border: 4px solid #000; 
    color:#0e11e8;
}   
caption {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
form {
    border: 1px solid #ffffff;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #0000003b;
}
td {
    border: 3px solid #b4908be9;
    padding: 9px;
}
input {
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: #00398e; 
    color: #16bd16 ;
}
textarea {
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: #00398e;
    color : #16bd16;
}
select {
    font-family: 'Times New Roman';
    font-size: 15px;
    background-color: #00398e;
    color : #16bd16;
}
input[type="submit"], input[type="reset"] {
    font-family: 'Times New Roman';
    padding: 5px 8px;
    border: 0.5px solid #ffffff4b;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff4b;
    color: #000;
    transition: all 0.5s ease
}
input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: #ffffff;
}
